<div class="main-sidebar">
  <aside id="sidebar-wrapper">
      <div class="sidebar-brand pt-2" style="padding-bottom: 10px;">
       <a href="/subAdmin/dashboard">
            <img src="/assets/img/logo.png" class="w-25" style="border-radius: 50%; width: 50px; height: 60px;">
      </a>
      </div>
          
          
      <div class="sidebar-brand sidebar-brand-sm" style="padding-bottom: 10px;">
            <a href="/subAdmin/dashboard">
              <img src="/assets/img/logo.png" class="w-50" style="border-radius: 50%; width: 20px; height: 30px; transition: all 0.2s ease;">
            </a>
          </div>
          
          <br>
    <ul class="sidebar-menu">
      <li class="<%=(title =='dashboard'?'active':'') %>"><a class="nav-link" href="/subAdmin/dashboard"><i class="fas fa-home"
            style="font-size: large;"></i><span><b>Dashboard</b></span></a></li>

       <li class="<%=(title =='user_list'?'active':'') %>"><a class="nav-link" href="/subAdmin/user_list"><i
            class="fas fa-user-tie" style="font-size: large;"></i><span><b>User</b></span></a></li>

      <!-- <li class="<%=(title =='list_provider'?'active':'') %>"><a class="nav-link" href="/subAdmin/list_provider"><i
            class="fas fa-users" style="font-size: large;"></i><span><b>Individual Providers</b></span></a></li>
      <li class="<%=(title =='organization'?'active':'') %>"><a class="nav-link" href="/subAdmin/organization"><i
            class="fas fa-home" style="font-size: large;"></i><span><b>Organization</b></span></a></li>

      <li class="<%=(title =='banner'?'active':'') %>"><a class="nav-link" href="/subAdmin/banner_list"><i
            class="fas fa-briefcase" style="font-size: large;"></i><span><b> Banners</b></span></a></li>

      <li class="<%=(title =='service_listing'?'active':'') %>"><a class="nav-link" href="/subAdmin/service_listing"><i
            class="fas fa-wrench" style="font-size: large;"></i><span><b> Services</b></span></a></li>


      <li class="<%=(title =='bookingsList'?'active':'') %>"><a class="nav-link" href="/subAdmin/bookingsList"><i
            class="fas fa-table" style="font-size: large;"></i><span><b>Booking</b></span></a></li>

      <li class="<%=(title =='review_list'?'active':'') %>"><a class="nav-link" href="/subAdmin/review_list"><i
            class="fas fa-star" style="font-size: large;"></i><span><b>Rating</b></span></a></li>



      <li class="<%=(title =='contact_list'?'active':'') %>"><a class="nav-link" href="/subAdmin/contact_list"><i
            class="fas fa-envelope" style="font-size: large;"></i><span><b>Contact Us</b></span></a></li>

      <li class="<%=(title =='transaction'?'active':'') %>"><a class="nav-link" href="/subAdmin/transaction_list"><i
            class="fas fa-money-bill" style="font-size: large;"></i><span><b>Transaction</b></span></a></li>

      <li class="<%=(title =='report_list'?'active':'') %>"><a class="nav-link" href="/subAdmin/report_list"><i
            class="fas fa-file" style="font-size: large;"></i><span><b> Reports </b></span></a></li> -->

      <li class="<%=(title =='terms_condition'?'active':'') %>"><a class="nav-link" href="/subAdmin/terms_condition"><i
            class="fas fa-leaf" style="font-size: large;"></i><span><b>Term & Condition</b></span></a></li>
      <li class="<%=(title =='privacy_policy'?'active':'') %>"><a class="nav-link" href="/subAdmin/privacy_policy"><i
            class="fas fa-hands" style="font-size: large;"></i><span><b>Privacy Policy</b></span></a></li>
      <li class="<%=(title =='Aboutus'?'active':'') %>"><a class="nav-link" href="/subAdmin/Aboutus"><i class="fas fa-book"
            style="font-size: large;"></i><span> <b>About Us</b></span></a></li>


    </ul>
  </aside>
</div>