<div class="main-sidebar">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand pt-2" style="padding-bottom: 10px">
      <a href="/subAdmin/dashboard">
        <img
          src="/assets/img/logo.png"
          class="w-25"
          style="border-radius: 50%; width: 50px; height: 60px"
        />
      </a>
    </div>

    <div class="sidebar-brand sidebar-brand-sm" style="padding-bottom: 10px">
      <a href="/subAdmin/dashboard">
        <img
          src="/assets/img/logo.png"
          class="w-50"
          style="
            border-radius: 50%;
            width: 20px;
            height: 30px;
            transition: all 0.2s ease;
          "
        />
      </a>
    </div>

    <br />
    <ul class="sidebar-menu">
      <li class="<%=(title =='dashboard'?'active':'') %>">
        <a class="nav-link" href="/subAdmin/dashboard">
          <i class="fas fa-home" style="font-size: large"></i>
          <span><b>Dashboard</b></span>
        </a>
      </li>

      <li class="<%=(title =='banners'?'active':'') %>">
        <a class="nav-link" href="/subAdmin/bannerList/<%=restaurant%>">
          <i class="fas fa-chess-board" style="font-size: large"></i>
          <span><b>Banners</b></span>
        </a>
      </li>

      <li class="<%=(title =='Restaurant Category List'?'active':'') %>">
        <a
          class="nav-link"
          href="/subAdmin/restaurant_category/<%=restaurant%>"
        >
          <i class="fas fa-tags" style="font-size: large"></i>
          <span><b>Categories</b></span>
        </a>
      </li>

      <li class="<%=(title =='Restaurant subCategory List'?'active':'') %>">
        <a
          class="nav-link"
          href="/subAdmin/restaurant_subCategory/<%=restaurant%>"
        >
          <i class="fas fa-tag" style="font-size: large"></i>
          <span><b>Sub Categories</b></span>
        </a>
      </li>

      <li class="<%=(title =='provider_list'?'active':'') %>">
        <a class="nav-link" href="/subAdmin/restaurant_product/<%=restaurant%>">
          <i class="fab fa-product-hunt" style="font-size: large"></i>
          <span><b>Products</b></span>
        </a>
      </li>

      <!-- Orders -->
      <li class="<%=(title =='order_list'?'active':'') %>">
        <a class="nav-link" href="/subAdmin/order_list/<%=restaurant%>"
          ><i class="fas fa-box" style="font-size: large"></i
          ><span><b>Orders</b></span></a
        >
      </li>

      <li class="<%=(title =='pending_orders'?'active':'') %>">
        <a class="nav-link" href="/subAdmin/pending_order_list/<%=restaurant%>">
          <i class="fas fa-clock" style="font-size: large"></i>
          <span><b>Pending Orders</b></span>
        </a>
      </li>

      <li class="<%=(title =='active_orders'?'active':'') %>">
        <a class="nav-link" href="/subAdmin/active_order_list/<%=restaurant%>">
          <i class="fas fa-shopping-cart" style="font-size: large"></i>
          <span><b>Active Orders</b></span>
        </a>
      </li>

      <li class="<%=(title =='delivered_orders'?'active':'') %>">
        <a
          class="nav-link"
          href="/subAdmin/delivered_order_list/<%=restaurant%>"
        >
          <i class="fas fa-truck" style="font-size: large"></i>
          <span><b>Delivered Orders</b></span>
        </a>
      </li>

      <li class="<%=(title =='cancelled_orders'?'active':'') %>">
        <a class="nav-link" href="/subAdmin/cancel_order_list/<%=restaurant%>">
          <i class="fas fa-times-circle" style="font-size: large"></i>
          <span><b>Cancelled Orders</b></span>
        </a>
      </li>

      <li class="<%=(title =='accounting'?'active':'') %>">
        <a class="nav-link" href="#">
          <i class="fas fa-money-bill" style="font-size: large"></i>
          <span><b>Accounting</b></span>
        </a>
      </li>

      <li class="<%=(title =='contact_us'?'active':'') %>">
        <a class="nav-link" href="#">
          <i class="fas fa-envelope" style="font-size: large"></i>
          <span><b>Contact Us</b></span>
        </a>
      </li>

      <li class="<%=(title =='product_review'?'active':'') %>">
        <a class="nav-link" href="#">
          <i class="fas fa-search" style="font-size: large"></i>
          <span><b>Product Review</b></span>
        </a>
      </li>

      <!-- <li class="<%=(title =='vendors'?'active':'') %>">
        <a class="nav-link" href="#">
          <i class="fas fa-store" style="font-size: large"></i>
          <span><b>Vendors</b></span>
        </a>
      </li> -->

      <!-- <li class="<%=(title =='services'?'active':'') %>">
        <a class="nav-link" href="#">
          <i class="fas fa-wrench" style="font-size: large"></i>
          <span><b>Services</b></span>
        </a>
      </li> -->

      <!-- <li class="<%=(title =='terms_condition'?'active':'') %>">
        <a class="nav-link" href="/subAdmin/terms_condition">
          <i class="fas fa-leaf" style="font-size: large"></i>
          <span><b>Terms & Conditions</b></span>
        </a>
      </li>

      <li class="<%=(title =='privacy_policy'?'active':'') %>">
        <a class="nav-link" href="/subAdmin/privacy_policy">
          <i class="fas fa-hands" style="font-size: large"></i>
          <span><b>Privacy Policy</b></span>
        </a>
      </li>

      <li class="<%=(title =='about_us'?'active':'') %>">
        <a class="nav-link" href="/subAdmin/about_us">
          <i class="fas fa-book" style="font-size: large"></i>
          <span><b>About Us</b></span>
        </a>
      </li> -->
    </ul>
  </aside>
</div>
