<div class="main-content">
    <section class="section">
      <div class="section-header">
        <div class="d-flex justify-content-between align-items-center w-100">
          <h1>Restaurant Dashboard</h1>
          <div class="filter-options">
            <select id="filter" class="form-control">
              <option value="all">All</option>
              <option value="today">Today</option>
              <option value="weekly">This Week</option>
              <option value="monthly">This Month</option>
              <option value="3months">Last 3 Months</option>
              <option value="6months">Last 6 Months</option>
              <option value="1year">Last 1 Year</option>
              <option value="5years">Last 5 Years</option>
            </select>
          </div>
        </div>
      </div>
      <div class="section-header">
        <h1><%=viewuser.name%> </h1>
        <div class="section-header-breadcrumb">
          <div class="breadcrumb-item active">
            <a href="/admin/dashboard">Dashboard</a>
          </div>
          <div class="breadcrumb-item">Restaurant</div>
        </div>
      </div>
      <div class="mb-3">
        <a href="/admin/restaurant_list" class="btn btn-dark">
          <i class="fas fa-arrow-left"></i> Back
        </a>
      </div>
      <div class="row">  

      
    <!-- Orders Card -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <a href="#">
            <div
              class="card card-statistic-1"
              style="background: linear-gradient(135deg, #33cc33, #66ff66)"
            >
              <div class="card-icon" style="background: rgba(44, 176, 44, 0.8)">
                <i class="fas fa-box"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4 style="color: white; font-weight: bold"><b>Orders</b></h4>
                </div>
                <div class="card-body" id="orders" value="<%= orders %>" style="color: white; font-weight: bold">
                  <%= orders %>
                </div>
              </div>
            </div>
          </a>
        </div>
    <!-- Active Order-->
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <a href="#">
            <div
              class="card card-statistic-1"
              style="background: linear-gradient(135deg, #ff5733, #ff8c66)"
            >
              <div class="card-icon" style="background: rgba(204, 85, 51, 0.8)">
                <i class="fas fa-shopping-cart"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4 style="color: white; font-weight: bold">Active Orders</h4>
                </div>
                <div class="card-body"  id="activeOrders" value="<%= activeOrders %>" style="color: white; font-weight: bold">
                  <%= activeOrders %>
                </div>
              </div>
            </div>
          </a>
        </div>
      <!-- delivered Orders -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <a href="#">
            <div
              class="card card-statistic-1"
              style="background: linear-gradient(135deg, #33a1ff, #66c2ff)"
            >
              <div class="card-icon" style="background: rgba(51, 128, 204, 0.8)">
                <i class="fas fa-truck"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4 style="color: white; font-weight: bold">
                    Delivered Orders
                  </h4>
                </div>
                <div class="card-body"   id="deliveredOrders" value="<%= deliveredOrders %>" style="color: white; font-weight: bold">
                  <%= deliveredOrders %>
                </div>
              </div>
            </div>
          </a>
        </div>
      <!-- Cancel Order-->

        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <a href="#">
            <div
              class="card card-statistic-1"
              style="background: linear-gradient(135deg, #ffc300, #ffd966)"
            >
              <div class="card-icon" style="background: rgba(204, 153, 51, 0.8)">
                <i class="fas fa-ban"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4 style="color: white; font-weight: bold">
                    Cancelled Orders
                  </h4>
                </div>
                <div class="card-body" id="cancelledOrders" value="<%= cancelledOrders %>" style="color: white; font-weight: bold">
                  <%= cancelledOrders %>
                </div>
              </div>
            </div>
          </a>
        </div>

           <!--Category -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <a href="#">
            <div
                class="card card-statistic-1"
                style="background: linear-gradient(135deg, #6666ff, #9999ff)"
            >
                <div class="card-icon" style="background: rgba(56, 56, 187, 0.8)">
                <i class="fas fa-users"></i>
                </div>
                <div class="card-wrap">
                <div class="card-header">
                    <h4 style="color: white; font-weight: bold"><b>Category</b></h4>
                </div>
                <div class="card-body" id="category" value="<%= category %>" style="color: white; font-weight: bold">
                    <%= category %>
                </div>
                </div>
            </div>
            </a>
        </div>

      <!-- Subcategory-->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="#">
          <div
            class="card card-statistic-1"
            style="background: linear-gradient(135deg, #33cccc, #66cccc)"
          >
            <div class="card-icon" style="background: rgba(38, 152, 152, 0.8)">
              <i class="fas fa-utensils"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">
                  <b>SubCategory</b>
                </h4>
              </div>
              <div class="card-body" id="subCategory" value="<%= subCategory %>" style="color: white; font-weight: bold">
                <%= subCategory %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Product -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="#">
          <div
            class="card card-statistic-1"
            style="background: linear-gradient(135deg, #33cc99, #66cc99)"
          >
            <div class="card-icon" style="background: rgba(38, 151, 114, 0.8)">
              <i class="fas fa-taxi"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold"><b>Products</b></h4>
              </div>
              <div class="card-body" id="products" value="<%= products %>" style="color: white; font-weight: bold">
                <%= products %>
              </div>
            </div>
          </div>
        </a>
      </div>
      </div>
    </section>
  </div>
  
  <!-- External CSS -->
  <style>
    .filter-options select {
      width: auto;
      max-width: 200px; /* Optional: Set a max width to ensure the dropdown doesn't get too wide */
    }
  
    @media (max-width: 768px) {
      .filter-options {
        justify-content: center; /* Centers the filter on smaller screens */
        padding-right: 15px; /* Optional: Add some padding on smaller screens */
      }
  
      .filter-options select {
        width: 100%; /* Makes the dropdown full-width on small screens */
      }
    }
  </style>
  
  <script>
    document.addEventListener("DOMContentLoaded", async () => {
      const filterDropdown = document.getElementById("filter");
  
      // Listen for dropdown changes
      filterDropdown.addEventListener("change", async () => {
        const selectedFilter = filterDropdown.value;
        const response = await fetch("/admin/restaurantDashboardFilter", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ filter: selectedFilter }),
        });
  
        const data = await response.json();
    
        document.getElementById("orders").textContent=data.orders;
        document.getElementById("activeOrders").textContent=data.activeOrders;
        document.getElementById("deliveredOrders").textContent=data.deliveredOrders;
        document.getElementById("cancelledOrders").textContent=data.cancelledOrders;
        document.getElementById("category").textContent=data.category
        document.getElementById("subCategory").textContent=data.subCategory
        document.getElementById("products").textContent=data.products


      });
    });
  </script>
  
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    socket.on('updateUserCount', (data) => {
    //   document.getElementById('user').textContent = data.user;
    });
  </script>
  