<div class="main-content">
  <section class="section">
    <div class="section-header">
      <div class="d-flex justify-content-between align-items-center">
        <h1>Admin Dashboard</h1>
        <div class="filter-options" style= "padding-left: 570px;">
          <select id="filter" class="form-control">
            <option value="all">all</option>
            <option value="today">Today</option>
            <option value="weekly">This Week</option>
            <option value="monthly">This Month</option>
            <option value="3months">Last 3 Months</option>
            <option value="6months">Last 6 Months</option>
            <option value="1year">Last 1 Year</option>
            <option value="5years">Last 5 Years</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Users Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/admin/user_list">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #6666ff, #9999ff)">
            <div class="card-icon" style="background: rgba(56, 56, 187, 0.8)">
              <i class="fas fa-users"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold"><b>Users</b></h4>
              </div>
              <span id="userCount" value="<%= user %>" hidden></span>
              <div class="card-body" id="userCount" style="color: white; font-weight: bold">
                <%= user %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Providers (Restaurants) Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="#">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #33cccc, #66cccc)">
            <div class="card-icon" style="background: rgba(38, 152, 152, 0.8)">
              <i class="fas fa-utensils"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">
                  <b>Providers/Restaurant</b>
                </h4>
              </div>
              <span id="providerCount" value="<%= provider %>" hidden></span>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= provider %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Rides Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/admin/rider_list">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #33cc99, #66cc99)">
            <div class="card-icon" style="background: rgba(38, 151, 114, 0.8)">
              <i class="fas fa-taxi"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold"><b>Riders</b></h4>
              </div>
              <span id="ridersCount" value="<%= rider %>" hidden></span>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= rider %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Vehicle Types Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/admin/vehicleType_list">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #33cc99, #66cc99)">
            <div class="card-icon" style="background: rgba(38, 152, 110, 0.8)">
              <i class="fas fa-car-side"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">
                  <b>Vehicle Types</b>
                </h4>
              </div>
              <span id="vehicleTypeCount" value="<%= vehicleType %>" hidden></span>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= vehicleType %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Payments Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="#">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #3399ff, #66ccff)">
            <div class="card-icon" style="background: rgba(38, 151, 219, 0.8)">
              <i class="fas fa-credit-card"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold"><b>Payments</b></h4>
              </div>
              <span id="paymentCount" value="<%= payments %>" hidden></span>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= payments %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Orders Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/admin/order_list">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #33cc33, #66ff66)">
            <div class="card-icon" style="background: rgba(44, 176, 44, 0.8)">
              <i class="fas fa-box"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold"><b>Orders</b></h4>
              </div>
              <span id="orderCount" value="<%= orders %>" hidden></span>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= orders %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/admin/active_order_list">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #ff5733, #ff8c66)">
            <div class="card-icon" style="background: rgba(204, 85, 51, 0.8)">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">Active Orders</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= activeOrders %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/admin/delivered_order_list">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #33a1ff, #66c2ff)">
            <div class="card-icon" style="background: rgba(51, 128, 204, 0.8)">
              <i class="fas fa-truck"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">
                  Delivered Orders
                </h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= deliveredOrders %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/admin/cancel_order_list">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #ffc300, #ffd966)">
            <div class="card-icon" style="background: rgba(204, 153, 51, 0.8)">
              <i class="fas fa-ban"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">
                  Cancelled Orders
                </h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= cancelledOrders %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Services Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/admin/service_list">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #ff9966, #ffcc66)">
            <div class="card-icon" style="background: rgba(255, 165, 0, 0.8)">
              <i class="fas fa-clipboard-list"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold"><b>Services</b></h4>
              </div>
              <span id="serviceCount" value="<%= servicesData %>" hidden></span>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= servicesData %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Feedback Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/admin/feedback_list">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #ff6699, #ff99cc)">
            <div class="card-icon" style="background: rgba(255, 82, 129, 0.8)">
              <i class="fas fa-comment-alt"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold"><b>Feedback</b></h4>
              </div>
              <span id="feedbackCount" value="<%= feedbacks %>" hidden></span>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= feedbacks %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Contact Us Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/admin/contact_us">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #33cc66, #66ff99)">
            <div class="card-icon" style="background: rgba(44, 176, 44, 0.8)">
              <i class="far fa-address-book"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">
                  <b>Contact Us</b>
                </h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= contactUs %>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>


<script>
  document.addEventListener("DOMContentLoaded", async () => {
    const filterDropdown = document.getElementById("filter");

    // Listen for dropdown changes
    filterDropdown.addEventListener("change", async () => {
      const selectedFilter = filterDropdown.value;
      const response = await fetch("/admin/dashboardFilter", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ filter: selectedFilter }),
      });

      const data = await response.json();
      console.log("data", data)
      var userCountElement = document.getElementById("userCount");
      if (userCountElement) {
        // Update the text content with the new data
        console.log("insdie tet")
        userCountElement.textContent = data.user;
      }

    });
  });
</script>