<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>SubAdmin Dashboard</h1>
    </div>
    <div class="row">
      <!-- User Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/subAdmin/user_list">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #6666ff, #9999ff);">
            <div class="card-icon" style="background: rgba(56, 56, 187, 0.8);">
              <i class="fas fa-user-tie"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold;"><b>Users</b></h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold;">
                <%= user %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Providers Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/subAdmin/restaurant_list">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #33cccc, #66cccc);">
            <div class="card-icon" style="background: rgba(38, 152, 152, 0.8);">
              <i class="fas fa-users"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold;">
                  <b>Providers/Restaurant</b>
                </h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold;">
                <%= provider %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Services Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="#">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #33cc99, #66cc99);">
            <div class="card-icon" style="background: rgba(38, 151, 114, 0.8);">
              <i class="fas fa-list"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold;"><b>Services</b></h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold;">
                <%= servicesdata %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Contact Us Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="#">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #33cc33, #66ff66);">
            <div class="card-icon" style="background: rgba(44, 176, 44, 0.8);">
              <i class="far fa-address-book"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold;"><b>Contact Us</b></h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold;">
                <%= contactus %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="#">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #cc9933, #ffd466);">
            <div class="card-icon" style="background: rgba(163, 135, 41, 0.8);">
              <i class="fas fa-hourglass-half"></i> <!-- Updated icon -->
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold;"><b>Pending Orders</b></h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold;">
                <%= pendingorders %>
              </div>
            </div>
          </div>
        </a>
      </div>
      

      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/subAdmin/active_order_list">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #FF5733, #FF8C66);">
            <div class="card-icon" style="background: rgba(204, 85, 51, 0.8);">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold;">Active Orders</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold;">
                <%= activeorders %>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/subAdmin/delivered_order_list">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #33A1FF, #66C2FF);">
            <div class="card-icon" style="background: rgba(51, 128, 204, 0.8);">
              <i class="fas fa-truck"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold;">Delivered Orders</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold;">
                <%= deliveredorders %>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="/subAdmin/cancel_order_list">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #FFC300, #FFD966);">
            <div class="card-icon" style="background: rgba(204, 153, 51, 0.8);">
              <i class="fas fa-ban"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold;">Cancelled Orders</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold;">
                <%= cancelledorders %>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="#">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #8E44AD, #C39BD3);">
            <div class="card-icon" style="background: rgba(142, 68, 173, 0.8);">
              <i class="fas fa-store"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold;">Vendors</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold;">
                <%= vendors %>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="#">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #16A085, #48C9B0);">
            <div class="card-icon" style="background: rgba(22, 160, 133, 0.8);">
              <i class="fas fa-tags"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold;">Categories</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold;">
                <%= categories %>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="#">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #2980B9, #5DADE2);">
            <div class="card-icon" style="background: rgba(41, 128, 185, 0.8);">
              <i class="fas fa-tag"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold;">Sub Categories</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold;">
                <%= subcategories %>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="#">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #cb894c, #dfa172);">
            <div class="card-icon" style="background: rgba(184, 128, 59, 0.8);">
              <i class="fas fa-box-open"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold;">Products</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold;">
                <%= products %>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <a href="#">
          <div class="card card-statistic-1" style="background: linear-gradient(135deg, #4CAF50, #81C784);">
            <div class="card-icon" style="background: rgba(76, 175, 80, 0.8);">
              <i class="fas fa-undo-alt"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold;">Return Requests</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold;">
                <%= returnrequests %>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      
    </div>

    <!-- Number of Responses -->
    <!-- <div class="col-12 col-md-6 col-lg-6">
      <div class="card" style="background: linear-gradient(135deg, #cccccc, #eeeeee);">
        <div class="card-header">
          <h4 style="color: white; font-weight: bold;">Number Of Response</h4>
        </div>
        <div class="card-body">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div> -->
  </section>
</div>

<script>
  setTimeout(function () {
    $("div.msg").fadeOut();
  }, 2000);
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<!-- Uncommented code for dynamic charts -->
<!--
<script>
  var totalUsers = <%= user %>;
  var totalProviders = <%= provider %>; // Example data for total providers

  new Chart("myChart", {
    type: "bar",
    data: {
      labels: ["Users", "Providers"],
      datasets: [
        {
          label: "Statistics",
          data: [totalUsers, totalProviders],
          backgroundColor: ["rgba(83, 167, 172, 0.9)", "#a3d349"],
          barThickness: 130,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
              min: 0,
              max: 100, // Adjust based on your data
            },
          },
        ],
      },
    },
  });
</script>
-->
