<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <<div class="section-header d-flex justify-content-between align-items-center">
      <h1>SubAdmin Dashboard</h1>
      <div class="filter-options">
        <select id="filter" class="form-control">
          <option value="all">All</option>
          <option value="today">Today</option>
          <option value="weekly">This Week</option>
          <option value="monthly">This Month</option>
          <option value="3months">Last 3 Months</option>
          <option value="6months">Last 6 Months</option>
          <option value="1year">Last 1 Year</option>
          <option value="5years">Last 5 Years</option>
        </select>
      </div>
    </div>    
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 animate-top">
        <a href="/subAdmin/order_list/<%= restaurantId._id%>">
          <div
            class="card card-statistic-1"
            style="background: linear-gradient(135deg, #33cc33, #66ff66)"
          >
            <div class="card-icon" style="background: rgba(44, 176, 44, 0.8)">
              <i class="fas fa-box"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold"><b>Orders</b></h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= orders %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12 animate-top">
        <a href="/subAdmin/pending_order_list/<%= restaurantId._id%>">
          <div
            class="card card-statistic-1"
            style="background: linear-gradient(135deg, #cc9933, #ffd466)"
          >
            <div class="card-icon" style="background: rgba(163, 135, 41, 0.8)">
              <i class="fas fa-hourglass-half"></i>
              <!-- Updated icon -->
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">
                  <b>Pending Orders</b>
                </h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= pendingorders %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12 animate-top">
        <a href="/subAdmin/active_order_list/<%= restaurantId._id%>">
          <div
            class="card card-statistic-1"
            style="background: linear-gradient(135deg, #ffc300, #ffd966)"
          >
            <div class="card-icon" style="background: rgba(204, 153, 51, 0.8)">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">Active Orders</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= activeorders %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12 animate-top">
        <a href="/subAdmin/delivered_order_list/<%= restaurantId._id%>">
          <div
            class="card card-statistic-1"
            style="background: linear-gradient(135deg, #33a1ff, #66c2ff)"
          >
            <div class="card-icon" style="background: rgba(51, 128, 204, 0.8)">
              <i class="fas fa-truck"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">
                  Delivered Orders
                </h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= deliveredorders %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12 animate-left">
        <a href="/subAdmin/cancel_order_list/<%= restaurantId._id%>">
          <div
            class="card card-statistic-1"
            style="background: linear-gradient(135deg, #ff5733, #ff8c66)"
          >
            <div class="card-icon" style="background: rgba(204, 85, 51, 0.8)">
              <i class="fas fa-ban"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">
                  Cancelled Orders
                </h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= cancelledorders %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12 animate-left">
        <a href="/subAdmin/restaurant_category/<%= restaurantId._id%>">
          <div
            class="card card-statistic-1"
            style="background: linear-gradient(135deg, #16a085, #48c9b0)"
          >
            <div class="card-icon" style="background: rgba(22, 160, 133, 0.8)">
              <i class="fas fa-tags"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">Categories</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= categories %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12 animate-right">
        <a href="/subAdmin/restaurant_subCategory/<%= restaurantId._id%>">
          <div
            class="card card-statistic-1"
            style="background: linear-gradient(135deg, #2980b9, #5dade2)"
          >
            <div class="card-icon" style="background: rgba(41, 128, 185, 0.8)">
              <i class="fas fa-tag"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">Sub Categories</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= subcategories %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12 animate-right">
        <a href="/subAdmin/restaurant_product/<%= restaurantId._id%>">
          <div
            class="card card-statistic-1"
            style="background: linear-gradient(135deg, #cb894c, #dfa172)"
          >
            <div class="card-icon" style="background: rgba(184, 128, 59, 0.8)">
              <i class="fas fa-box-open"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">Products</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= products %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12 animate-left">
        <a href="#">
          <div
            class="card card-statistic-1"
            style="background: linear-gradient(135deg, #4caf50, #81c784)"
          >
            <div class="card-icon" style="background: rgba(76, 175, 80, 0.8)">
              <i class="fas fa-undo-alt"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">Return Requests</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= returnrequests %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12 animate-left">
        <a href="#">
          <div
            class="card card-statistic-1"
            style="background: linear-gradient(135deg, #8e44ad, #c39bd3)"
          >
            <div class="card-icon" style="background: rgba(142, 68, 173, 0.8)">
              <i class="fas fa-store"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">Vendors</h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= vendors %>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Services Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 animate-right">
        <a href="#">
          <div
            class="card card-statistic-1"
            style="background: linear-gradient(135deg, #33cc99, #66cc99)"
          >
            <div class="card-icon" style="background: rgba(38, 151, 114, 0.8)">
              <i class="fas fa-list"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold"><b>Services</b></h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= servicesdata %>
              </div>
            </div>
          </div>
        </a>
      </div>  

      <!-- Contact Us Card -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 animate-right">
        <a href="#">
          <div
            class="card card-statistic-1"
            style="background: linear-gradient(135deg, #33cc33, #66ff66)"
          >
            <div class="card-icon" style="background: rgba(44, 176, 44, 0.8)">
              <i class="far fa-address-book"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4 style="color: white; font-weight: bold">
                  <b>Contact Us</b>
                </h4>
              </div>
              <div class="card-body" style="color: white; font-weight: bold">
                <%= contactus %>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- Number of Responses -->
    <!-- <div class="col-12 col-md-6 col-lg-6">
      <div class="card" style="background: linear-gradient(135deg, #cccccc, #eeeeee);">
        <div class="card-header">
          <h4 style="color: white; font-weight: bold;">Number Of Response</h4>
        </div>
        <div class="card-body">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div> -->
  </section>
</div>

<style>
  .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-options {
  margin-left: auto;
  max-width: 200px; /* Optional: Adjust as needed */
}
</style>

<script>
  setTimeout(function () {
    $("div.msg").fadeOut();
  }, 2000);
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<script>
  const filterDropdown = document.getElementById("filter");

  // Loader Element
  const loader = document.getElementById("loader");

  // Show loader
  function showLoader() {
    if (loader) loader.style.display = "block";
  }

  // Hide loader
  function hideLoader() {
    if (loader) loader.style.display = "none";
  }

  // Update card data dynamically
  function updateCardData(data) {
    document.getElementById("orders").textContent = data.orders || 0;
    document.getElementById("pendingOrders").textContent =
      data.pendingOrders || 0;
    document.getElementById("activeOrders").textContent =
      data.activeOrders || 0;
    document.getElementById("deliveredOrders").textContent =
      data.deliveredOrders || 0;
    document.getElementById("cancelledOrders").textContent =
      data.cancelledOrders || 0;
    document.getElementById("category").textContent = data.categories || 0;
    document.getElementById("subCategory").textContent =
      data.subCategories || 0;
    document.getElementById("products").textContent = data.products || 0;
  }

  // Fetch data and update dashboard
  async function fetchData(filter = null) {
    showLoader(); // Show loader

    try {
      const restaurantId =
        document.getElementById("restaurant_id").dataset.value;

      const selectedFilter = filter || filterDropdown.value;

      const response = await fetch("/SubAdmin/restaurantDashboardFilter", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ filter: selectedFilter, id: restaurantId }),
      });

      if (!response.ok) {
        throw new Error(`API error with status: ${response.status}`);
      }

      const data = await response.json();

      // Update card content
      updateCardData(data);
    } catch (error) {
      console.error("Error fetching data:", error);
    } finally {
      hideLoader(); // Hide loader
    }
  }

  // Event listener for dropdown changes
  filterDropdown.addEventListener("change", async () => {
    await fetchData();
  });

  // Initialize dashboard on page load
  document.addEventListener("DOMContentLoaded", () => {
    fetchData(); // Initial data fetch
  });
</script>

<!-- Uncommented code for dynamic charts -->
<!--
<script>
  var totalUsers = <%= user %>;
  var totalProviders = <%= provider %>; // Example data for total providers

  new Chart("myChart", {
    type: "bar",
    data: {
      labels: ["Users", "Providers"],
      datasets: [
        {
          label: "Statistics",
          data: [totalUsers, totalProviders],
          backgroundColor: ["rgba(83, 167, 172, 0.9)", "#a3d349"],
          barThickness: 130,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
              min: 0,
              max: 100, // Adjust based on your data
            },
          },
        ],
      },
    },
  });
</script>
-->
