<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Booking Details</h1>
    </div>
    <div class="section-body">
      <div class="card">
        <form action="" method="post" enctype="multipart/form-data">
          <div class="row mt-sm-4 justify-content-center ">

            <div class="col-12 col-md-12 col-lg-10 offset-lg-0">
              <div class="card-body">
                <div class="form-group">
                  <label class="col-form-label text-md-right col-12 col-md-4 col-lg-3">User Name</label>
                  <div class="col-sm-12 col-md-12">
                    <input type="text" name="" value="<%=bookingdata?.userId?.name ? bookingdata?.userId?.name : 'N/A'%>" class="form-control" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label text-md-right col-12 col-md-4 col-lg-3">Provider Name</label>
                  <div class="col-sm-12 col-md-12">
                    <input type="text" name="" value="<%=bookingdata?.providerId ?.name ? bookingdata?.providerId ?.name : 'N/A'%>" class="form-control" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label text-md-right col-12 col-md-4 col-lg-3">Service</label>
                  <div class="col-sm-12 col-md-12">
                    <input type="text" name="" value="<%=bookingdata?.serviceId?.service ? bookingdata?.serviceId?.service : 'N/A'%>" class="form-control"
                      disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Date</label>
                  <div class="col-sm-12 col-md-12">
                    <input type="text" name="" value="<%=bookingdata.date %>" class="form-control" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Time</label>
                  <div class="col-sm-12 col-md-12">
                    <input type="text" name="" value="<%=bookingdata?.time %>" Worker not assigned" %>"
                    class="form-control" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Address</label>
                  <div class="col-sm-12 col-md-12">
                    <input type="address" name="" value="<%=bookingdata?.addressId.address %> " Worker not assigned" %>"
                    class="form-control" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Price</label>
                  <div class="col-sm-12 col-md-12">
                    <input type="text" name="" value="<%=bookingdata?.price ? bookingdata?.price : 'No Qoute Yet' %>" class="form-control" disabled>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Job Specification</label>
                    <div class="col-sm-12 col-md-12">
                      <textarea class="form-control h-auto" name="txtname" rows="4" maxlength="200"
                        disabled><%=bookingdata?.description%></textarea>
                    </div>
                  </div> <br>
                  <div class="form-group">
                    <div class="col-sm-12 col-md-12 text-right mt-4">
                      <a href="/subAdmin/bookingsList" class="btn btn-info">Back</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </section>
</div>
<script>
  imgInp.onchange = evt => {
    const [file] = imgInp.files
    if (file) {
      blah.src = URL.createObjectURL(file)
    }
  }
</script>


<script>
  imgInp.onchange = evt => {
    const [file] = imgInp.files
    if (file) {
      blah.src = URL.createObjectURL(file)
    }
  }
</script>