<!-- List of Vehicle Types -->
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Vehicle Type</h1>
      <div class="section-header-breadcrumb">
        <a
          href="/admin/add_vehicleType"
          class="btn btn-sm"
          style="background-color: rgba(6, 191, 12, 0.628)"
        >
          <i class="fa fa-plus"></i> Add
        </a>
      </div>
    </div>
    <div class="section-body">
      <div class="col-12">
        <div class="table-responsive">
          <table
            id="vehicleTypeTable"
            class="table table-bordered table-hover table-md"
          >
            <thead class="text-center">
              <tr style="background-color: #ebf2f2">
                <th>S No.</th>
                <th>Name</th>
                <th>Category</th>
                <th>Fuel Type</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% vehicleTypes.forEach(function(data, i) { %>
              <tr>
                <td class="text-center"><%= 1 + i %></td>
                <td class="text-center"><%= data.name %></td>
                <td class="text-center"><%= data.category %></td>
                <td class="text-center"><%= data.fuelType %></td>
                <td class="text-center">
                  <label class="switch">
                    <input
                      type="checkbox"
                      onchange="changeStatus(this)"
                      <%= data.status == 1 ? 'checked' : '' %>
                      data-id="<%= data._id %>"
                    />
                    <span class="slider round"></span>
                  </label>
                </td>
                <td class="text-center">
                  <a
                    href="/admin/edit_vehicleType/<%= data._id %>"
                    class="btn btn-sm bg-warning"
                    style="padding: 5px 10px; font-size: 14px; line-height: 1.2"
                  >
                    <i class="fa fa-edit"></i>
                  </a>
                  <button
                    onclick="confirmDelete('<%= data._id %>')"
                    class="btn btn-sm bg-danger"
                    style="padding: 5px 10px; font-size: 14px; line-height: 1.2"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Include DataTables and Export Button Libraries -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css"
/>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"
></script>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"
></script>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"
></script>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"
></script>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  $(document).ready(function () {
    $("#vehicleTypeTable").DataTable({
      dom: "Bfrtip",
      buttons: ["excelHtml5", "pdfHtml5", "print"],
      language: {
        emptyTable: "No vehicle types available.",
      },
    });
  });

  function confirmDelete(id) {
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Yes, delete it!",
      cancelButtonText: "No, cancel!",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/admin/delete_vehicleType",
          type: "POST",
          data: { id: id },
          success: function () {
            Swal.fire("Deleted!", "The vehicle type has been deleted.", "success").then(() => {
              location.reload();
            });
          },
          error: function () {
            Swal.fire("Error!", "Unable to delete the vehicle type. Please try again.", "error");
          },
        });
      } else {
        Swal.fire("Cancelled", "The vehicle type is safe :)", "info");
      }
    });
  }

  const changeStatus = (checkbox) => {
    const id = checkbox.getAttribute("data-id");
    const status = checkbox.checked ? 1 : 0;

    $.ajax({
      type: "POST",
      url: "/admin/vehicleType_status",
      data: { id: id, status: status },
      success: function () {
        Swal.fire({
          icon: "success",
          title: "Status Updated",
          text: "Vehicle type status has been successfully updated.",
          timer: 1500,
          showConfirmButton: false,
        });
      },
      error: function () {
        Swal.fire({
          icon: "error",
          title: "Error!",
          text: "There was a problem updating the status.",
          timer: 1500,
          showConfirmButton: false,
        });
      },
    });
  };

  function escapeHTML(text) {
    return text
      .replace(/&/g, "&amp;")
      .replace(/</g, "&lt;")
      .replace(/>/g, "&gt;")
      .replace(/"/g, "&quot;")
      .replace(/'/g, "&#039;");
  }
</script>


<!-- Toggle Button CSS -->
<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #4caf50;
  }

  input:checked + .slider:before {
    transform: translateX(14px);
  }

  .slider.round {
    border-radius: 50px;
  }
</style>
