<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1> Transaction List</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="/subAdmin/dashboard">Dashboard</a></div>
        <div class="breadcrumb-item"><a href='/subAdmin/transaction_list'>Transaction</a></div>
      </div>
    </div>
    <div class="section-body">
      <div class="col-12 col-md-6 col-lg-12">
        <div class="table-responsive">
          <table id="myTable" class="table table-bordered table-hover table-md">
            <thead>
              <tr style="background-color: #ebf2f2;">
                <th scope="col">S No.</th>
                <th scope="col">Transaction By</th>
                <th scope="col">Transaction To</th>
                <th scope="col">Account</th>
                <th scope="col">Transaction Date</th>
                <th scope="col">Transaction Time</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <%listing?.forEach(function(data,i) {%>
                <tr>
                  <td>
                    <%=1+i%>
                  </td>
                  <td>
                    <%=data?.transaction_by?.name%>
                  </td>
                  <td>
                    <%=data?.transaction_to?.name%>
                  </td>
                  <td>
                    $<%=data.amount%>
                  </td>
                  <td>
                    <%= moment(data.createdAt).format('DD-MM-YYYY') %>
                  </td>
                  <td>
                    <%= moment(data.createdAt).format('hh:mm a') %>
                  </td>

                  <td>
                    <a href="/subAdmin/view_transaction/<%=data?._id%>" class="btn btn-sm bg-warning"><i class="fa fa-eye"
                        aria-hidden="true"></i></a>
                    <!-- <a href="/edit_faq/<%=data?._id%>" class="btn btn-sm bg-warning"><i class="fas fa-edit"></i></a> -->
                    <button onclick="confirmDelete('<%=data._id%>')" class="btn btn-sm bg-danger"> <i
                        class="fa fa-trash"></i> </button>
                  </td>
                </tr>
                <%}) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>


<script>
  $(document).ready(function () {
    $('#myTable').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'excel',  'print'
      ]
    });
  });
</script>

<script>
  setTimeout(function () {
    $("div.msg").fadeOut();
  }, 2000);
</script>

<script>
  $(document).ready(function () {
    // alert("ready!");
  });

  function confirmDelete(id) {
    console.log(">>>>>>>>done>>>>>>>>>>", id)

    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-danger',
        cancelButton: 'btn btn-success'
      },
      buttonsStyling: true

    })

    // console.log("------------------------------result------", id);

    swalWithBootstrapButtons.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, delete it!',
      cancelButtonText: 'No, cancel!',
      reverseButtons: true
    }).then((isConfirm) => {
      // console.log(isConfirm)
      // return
      if (isConfirm.isConfirmed) {
        // alert('asd')
        $.ajax({
          url: "/subAdmin/delete_faq/:id",
          type: 'delete',
          data: {
            id: id
          },
          success: function (result) { }
        });
        swalWithBootstrapButtons.fire(
          'Deleted!',
          'The user has been deleted .',
          'success'
        ).then(() => {
          location.reload();
        })
      } else {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'The user is safe :)',
          'error'
        )
      }
    })

  }
</script>


<script>
  const changeStatus = (val) => {
    console.log(val)
    let id = val.getAttribute('data-id')
    let value = val.getAttribute('value')
    let elemID = val.getAttribute('id')
    elemID = document.getElementById(elemID)

    $.ajax({
      type: "post",
      url: "/subAdmin/category_status",
      data: {
        id: id,
        value: value

      },
      success: function (data) {
        if (data) {
          elemID.setAttribute('value', 0)
          elemID.innerText = `Active`
          elemID.classList.remove('btn-danger')
          elemID.classList.add('btn-success')
        } else {
          elemID.setAttribute('value', 1)
          elemID.innerText = `IN-Active`
          elemID.classList.remove('btn-success')
          elemID.classList.add('btn-danger')
        }
        window.location.reload();
      }
    });
  }

</script>