<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Providers Details</h1>
    </div>
    <div class="section-body">
      <div class="card">
        <form action="" method="post" enctype="multipart/form-data">
          <div class="row mt-sm-4 justify-content-center ">

            <div class="col-12 col-md-12 col-lg-4">
              <div class="profile-widget-header text-center py-3">
                <p><b> Image </b> </p>
                <% if (providerdata?.image) { %>

                  <img alt="image" class="user_rounded_img" id="blah" src="<%=providerdata?.image%>">
                  <% } else { %>

                    <img alt="image" class="user_rounded_img" id="blah" src="/assets/img/defaultimage.jpg">
                    <% } %>

              </div>
            </div>

            <div class="col-12 col-md-12 col-lg-7">
              <div class="card-body">
                <div class="form-group">
                  <label class="col-form-label text-md-right col-12 col-md-4 col-lg-3">Name</label>
                  <div class="col-sm-12 col-md-12">
                    <input type="text" name="name" value="<%=providerdata.name%>" class="form-control" disabled>
                  </div>
                </div>

                <!-- <div class="form-group">
                  <label class="col-form-label text-md-right col-12 col-md-4 col-lg-3">Last Name</label>
                  <div class="col-sm-12 col-md-12">
                    <input type="text" name="lastname" value="<%=providerdata.lastname%>" class="form-control" disabled>
                  </div>
                </div> -->

                <div class="form-group">
                  <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Email</label>
                  <div class="col-sm-12 col-md-12">
                    <input type="email" name="email" value="<%=providerdata.email%>" class="form-control" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Phone</label>
                  <div class="col-sm-12 col-md-12">
                    <input type="phone" name="phone" value="<%=providerdata.country_code%> <%=providerdata?.phone%>"
                      class="form-control" disabled>
                  </div>

                </div>

                <div class="form-group">
                  <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Total Rating</label>
                  <div class="col-sm-12 col-md-12">
                    <input type="text" name="" value="<%=averageRating %>" class="form-control" disabled>

                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Short Description </label>
                  <div class="col-sm-12 col-md-12">
                    <textarea name="bio" id="" class="form-control h-auto" rows="5"
                      disabled><%=providerdata?.bio%></textarea>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <div class="col-sm-12 col-md-12 w-100 d-flex justify-content-end">
                    <a href="/admin/list_provider" class="btn btn-info" style="height:34px">Back</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-md-6 col-lg-12">
        <div class="section-header">
          <h1>Provider 's Services</h1>

        </div>
        <div class="table-responsive">
          <table id="myTable" class="table table-hover table-md">
            <thead>
              <tr style="background-color: #ebf2f2;">
                <th scope="col">S No.</th>
                <th scope="col">Image</th>
                <th scope="col">Service</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <% if(services.length !=0){%>
                <% for (let i=0; i < services.length; i++) { %>
                  <% let data=services[i]; %>
                  <% if(data.serviceId){%>
                    <tr>
                      <td>
                        <%= i + 1 %>
                      </td>
                      <% if(data.serviceId.image !='' ) { %>
                        <td> <img alt="" width="50" height="50" id="blah" src="<%=data.serviceId.image%>"
                            class="profile_img rounded-circle"></td>
                        <% } else { %>
                          <td> <img src="/assets/img/defaultimage.jpg" width="50" height="50" id="blah"
                              class="profile_img rounded-circle" alt=""></td>
                          <% } %>
                            <!-- <img src="<%= data.serviceId.image %>" width="50" height="50" type="submit"
                              class="profile_img rounded-circle border" style="cursor:pointer;"> -->

                            <td>
                              <%= data.serviceId.service %>
                            </td>
                            <td>
                              <%= data.price %>
                            </td>
                    </tr>
                    <%} %>
                    <% } %>
                      <%}%>

            </tbody>
          </table>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-12">
        <div class="section-header">
          <h1>Provider 's Rating</h1>

        </div>
        <div class="table-responsive">
          <table id="myTable2" class="table table-hover table-md">
            <thead>
              <tr style="background-color: #ebf2f2;">
                <th scope="col">S No.</th>
                <th scope="col">Rating By </th>
                <th scope="col">Rating </th>
                <th scope="col">Comment</th>
              </tr>
            </thead>
            <tbody>
              <% if(ratingdetail.length !=0){%>
                <% for (let i=0; i < ratingdetail.length; i++) { %>
                  <% let data=ratingdetail[i]; %>
                    <tr>
                      <td>
                        <%= i + 1 %>
                      </td>
                      <!-- <td>
                          <img src="<%= data.userId.name %>" width="50" height="50" type="submit" class="profile_img rounded-circle border" style="cursor:pointer;">
                        </td> -->
                      <td>
                        <%= data.userId.name %>
                      </td>
                      <td>
                        <%= data.rating %>
                      </td>
                      <td>
                        <%= data.comment %>
                      </td>
                    </tr>
                    <% } %>
                      <%}%>

            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="col-12 col-md-6 col-lg-12">
            <div class="section-header">
              <h1>Provider 's Earning</h1>

            </div>
            <div class="table-responsive">
              <table id="myTable3" class="table table-hover table-md">
                <thead>
                  <tr style="background-color: #ebf2f2;">
                    <th scope="col">S No.</th>
                    <th scope="col">Image</th>
                    <th scope="col">Transaction By </th>
                    <th scope="col">Amount </th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(earningDetail.length !=0){%>
                    <% for (let i=0; i < earningDetail.length; i++) { %>
                      <% let data=earningDetail[i]; %>
                        <tr>
                          <td>
                            <%= i + 1 %>
                          </td>
                          <td>
                            <img src="<%= data.transaction_by.image %>" width="50" height="50" type="submit"
                              class="profile_img rounded-circle border" style="cursor:pointer;">
                          </td>
                          <td>
                            <%= data.transaction_by.name %>
                          </td>
                          <td>
                            <%= data.amount %>
                          </td>
                          
                          <% if(data.status==1) { %>
                              <td><span 
                                  class="btn btn-warning btn-rounded add_btn">
                                  <i class="icon-add position-left"></i>
                                  Pending
                                </span></td>
                              <% } if(data.status==2) { %>
                                <td> <span 
                                    class="btn btn-info btn-rounded add_btn">
                                    Success
                                  </span></td>
                                <% }  %>
                        </tr>
                        <% } %>
                          <%}%>

                </tbody>
              </table>
            </div>
          </div> -->
    </div>
  </section>
</div>
<script>
  imgInp.onchange = evt => {
    const [file] = imgInp.files
    if (file) {
      blah.src = URL.createObjectURL(file)
    }
  }
</script>

<script>
  $(document).ready(function () {
    $('#myTable').DataTable();
  });
  $(document).ready(function () {
    $('#myTable2').DataTable();
  });
  $(document).ready(function () {
    $('#myTable3').DataTable();
  });
  setTimeout(function () {
    $("div.msg").fadeOut();
  }, 2000);
</script>

<script>
  imgInp.onchange = evt => {
    const [file] = imgInp.files
    if (file) {
      blah.src = URL.createObjectURL(file)
    }
  }
</script>

<script>
  const changeStatus = (val) => {
    console.log(val)
    let id = val.getAttribute('data-id')
    let value = val.getAttribute('value')
    let elemID = val.getAttribute('id')
    elemID = document.getElementById(elemID)

    $.ajax({
      type: "post",
      url: "/admin/view_worker_status",
      data: {
        id: id,
        value: value

      },
      success: function (data) {
        if (data) {
          elemID.setAttribute('value', 0)
          elemID.innerText = `Approved`
          elemID.classList.remove('btn-danger')
          elemID.classList.add('btn-success')
        } else {
          elemID.setAttribute('value', 1)
          elemID.innerText = `Un-approved`
          elemID.classList.remove('btn-success')
          elemID.classList.add('btn-danger')
        }
        window.location.reload();
      }
    });
  }
</script>